# Sanal ortam
llama_tray_venv/

# Python cache
__pycache__/
*.pyc

# macOS
.DS_Store

# IDE
.vscode/
.idea/

# Config (kullanıcıya özel)
*.local

# Arch package build artifacts
arch-package/pkg/
arch-package/src/
arch-package/*.pkg.tar.zst
arch-package/LlamaTray/objects/
arch-package/LlamaTray/refs/
arch-package/LlamaTray/hooks/
arch-package/LlamaTray/info/
arch-package/LlamaTray/HEAD
arch-package/LlamaTray/config
arch-package/LlamaTray/description
arch-package/LlamaTray/FETCH_HEAD
arch-package/LlamaTray/packed-refs